@charset "utf-8";

@import 'imports/reset';
@import 'imports/variables';
@import 'imports/mixins';

@import 'general/layout';
@import 'general/typography';

@import 'pages/home';
@import 'pages/user';


body {
    height: 100%;
    background-image: linear-gradient(to bottom right, $mainColor, $secondaryColor);
}


