// Styles de la page Home
.home-page {
    display: grid;
    margin: 20% 0;
    width: max-content;
    position: relative;
}


.infos-block{
    font: $titleFont;
    font-weight: bolder;
    display: inline-block;
}


.infos-block h1{
    font-size: 20rem;
    color: $white;
    text-shadow: 4px 3px 0px $blue;
}


.infos-block p{
    font-size: 4rem;
    color: $titleColor;
}

.nav-arrow {
    font-size: 500;
    color: $white;
    height: max-content;
}

.circle{          
    position: absolute;
    top: 0;
    grid-area: 1 / 1;
    height: 40rem;
    width: 40rem;
    background-image: linear-gradient(to bottom right, $secondaryColor, $mainColor);
    border-radius: 50%;
}
.left{
    left: 0;
    height: 40rem;
    width: 40rem;
}
.right{
    top: -5rem;
    right: -5rem;
    height: 20rem;
    width: 20rem;
}