// Styles de la page User

.page-wrap{
    margin: 0 25%;
    max-width: 50%;
}
.user-page {
    display: inline;
}

.articles-list{
    display: inline-flex;

}

.articles-element{
    background-color: $white;
    margin: 1rem;
    padding: 1rem;
    border-radius: $borderRadius;
    width: 48%;
}

.articles-element h3{
    padding: 1rem;
    font-weight: bolder;
    text-align: center;
    
}

.infos-block {
    font-size: 1rem;
}

.infos-block a{
    color: $white;
}

.users-select {
    position: relative;
    display: flex;

    width: 500px;
}

.dropBtn {
    background-color: $trasnparent;
    border-color: $white;
    border-style: solid;
    border-width : 4px;
    color: $white;
    width: 60rem;
    padding: 16px;
    font-size: 50px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $trasnparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px $white;
    z-index: 1;
  }

  .dropdown-content a {
    color: $trasnparent;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/*.nav-arrow {
    display: flex;
}*/